// Import Glue core layout components
@use '@google/glue/lib/core';
@use '@google/glue/lib/links';
@use '@google/glue/lib/typography' as glue-typography;
@use '@google/glue/lib/page';
@use '@google/glue/lib/breakpoints';
@use '@google/glue/lib/buttons';
@use '@google/glue/lib/icons';

// Import Glue UI components
@use '@google/glue/lib/header' as glue-header;
@use '@google/glue/lib/footer' as glue-footer;
@use '@google/glue/lib/grids';
@use '@google/glue/lib/cards';
@use '@google/glue/lib/ytvideo';
@use '@google/glue/lib/carousel';
@use '@google/glue/lib/modal' as glue-modal;

// Import Glue layout overrides
@use '@google/glue/lib/accessibility';
@use '@google/glue/lib/spacers';
@use '@google/glue/lib/alignment';
@use '@google/glue/lib/order';

// Import Glue variables
@use '@google/glue/lib/colors/variables' as gc; // For SCSS variables
@use '@google/glue/lib/breakpoints/_variables' as gb;

// Our stuff
@use 'app/colors/colors';
@use 'app/colors/variables' as appColors;
@use 'app/components/banner/banner';
@use 'app/components/bundle-error/bundle-error';
@use 'app/components/carousel/carousel' as appCarousel;
@use 'app/components/core-capabilities-card/core-capabilities-card';
@use 'app/components/footer/footer';
@use 'app/components/grid/grid';
@use 'app/components/header/header';
@use 'app/components/hero/hero';
@use 'app/components/link-bar-dropdown/link-bar-dropdown';
@use 'app/components/link/link';
@use 'app/components/list/list';
@use 'app/components/modal/modal' as appModal;
@use 'app/components/use-sensemaking/use-sensemaking';
@use 'app/components/section/section';
@use 'app/components/spacers/spacers' as appSpacers;
@use 'app/typography/typography';

// Custom overrides
.glue-fullbleed {
  max-width: 3840px !important; // 4K UHD
}

.glue-carousel__item[aria-hidden='true'] {
  .app-carousel__slide {
    .glue-video {
      display: none;
    }
    .app-carousel__video-preview {
      display: block;
    }
  }
}

// Helpers
.g-section-separator {
  border-bottom: solid 1px rgba(gc.$blue-700, 0.3);
  padding-bottom: 16px;
  margin-bottom: 16px;
  content: ' ';
}

.glue-cookie-notification-bar .glue-cookie-notification-bar__accept {
  @extend .glue-button;
  @extend .glue-button--medium-emphasis;
  max-width: unset;

  &:hover {
    box-shadow: none;
  }
}

.glue-carousel__dot {
  &::before {
    background: #e8eaf3;
    border: 1px solid #e8eaf3;
  }
  &.glue-is-active {
    &::before {
      background: #1e2656;
      border: 1px solid #1e2656;
    }
  }
}

.glue-carousel__button--prev {
  inset-inline-start: -69px;
  @media #{gb.$media-query-sm-md-only} {
    display: none;
  }
}

.glue-carousel__button--next {
  inset-inline-end: -69px;
  @media #{gb.$media-query-sm-md-only} {
    display: none;
  }
}

.glue-carousel__dot {
  @media #{gb.$media-query-sm-md-only} {
    height: 48px;
    width: 48px;
  }
}

.glue-carousel__item {
  &[aria-hidden='true'] {
    .g-slide {
      .glue-video {
        display: none;
      }
      .g-video-preview {
        display: block;
      }
    }
  }
}

.glue-card {
  background: transparent;
  border-radius: unset;
  &:hover {
    box-shadow: none;
  }
  &:active,
  &:focus,
  &:hover {
    background: transparent;
  }
  .glue-card__inner::before {
    display: none;
  }
  .glue-card__content {
    padding: 24px 0 24px 0;
    .glue-headline {
      color: #1e2656;
    }
  }
  .glue-card__asset {
    border: 1px solid #a8afd2;
  }
}

.g-no-border {
  border: none;
}

// Setting the default body
html,
body {
  scroll-behavior: smooth;
}
